<head>
    <meta charset="utf-8">
    <title>
        {% if page.title %} {{ page.title }}
        {% elif section.title %} {{ section.title }}
        {% elif config.title %} {{ config.title }}
        {% else %} Post {% endif %}
    </title>
    <!-- TODO: Use a Tera template to get the path to the css? -->
    <link rel="stylesheet" href="/main.css"> 
    <!-- HACK: Will remove when domain name expires -->
    <script>
        if (window.location.hostname === "lienzhuzhu.github.io") {
            window.location.href = "https://lienzhu.tech" + window.location.pathname;
        }
    </script>
</head>
