<!DOCTYPE html>
<html lang="en">

    {% include "partials/header.html" %}

    <body>

        {% include "partials/nav.html" %}

        <section class="section">
            <div class="container">
                {% block content %} {% endblock %}
            </div>
        </section>

        <!-- MathJAX config -->
        <script>
            MathJax = {
                /* TODO: Experiment with these delimiters */
                tex: {
                    displayMath: [['\\[', '\\]'], ['$$', '$$']],
                    inlineMath: [['\\(', '\\)'], ['$', '$']],
                }
            };
        </script>
        <!-- Load V3.+ -->
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

    </body>


    <footer>
        <div>
            <i class="nf nf-fa-copyright"></i> Lien Zhu {{ now() | date(format="%Y") }}
        </div>
    </footer>

</html>
