<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”robots” content=”index>
    <link href="styles.css" rel="stylesheet">
    <link rel="canonical" href="https://lienzhu.dev" />
    <link rel="shortcut icon" href="./img/favicon.ico" />
    <title>{{ section.title }}</title>
</head>

<body>

    <div class="nav">
        <div class="nav-grid-item">
            <a href="/" class="home-link nav-item">
                <strong>Home Page</strong>
            </a>
        </div>
        <div class="nav-grid-item">
            <div class="right-nav-align-container">
                <a href="https://github.com/lienzhuzhu" class="link-icon-wrapper">
                    <img src="./img/github-nb.svg" id="social-github" alt="github logo" class="social-icon">
                </a>
                <a href="https://www.linkedin.com/in/lienzhu" class="link-icon-wrapper">
                    <img src="./img/linkedin-original.svg" id="social-linkedin" alt="linkedin logo" class="social-icon">
                </a>
            </div>
        </div>
    </div>

    <div class="padded-section" id="bio-section">
        <div id="bio-card">
            <div id="headshot-card">
                <img src="./img/profile.jpg" alt="handsome guy" class="headshot">
            </div>
            <div class="bio-text-card">
                <div class="name-wrapper bold">LIEN<span class="silver-text">ZHU</span></div>
                <div class="title-wrapper bold" id="degree-title">ME CSE</div>
            </div>
        </div>
    </div>

    <div class="project-card-container">

        <div class="project-card">
            <strong class="project-title center-text">
                ~/.config
            </strong>
            <div class="project-description center-text">
                <a class="project-link" href="https://github.com/lienzhuzhu/dotfiles">Check out my dotfiles.</a>
            </div>
            <div class="project-preview-container">
                <img src="./img/dotfiles.png" alt="dotfiles screengrab" class="project-preview-img">
            </div>
        </div>

    </div>

    <div class="project-card-container">

        <div class="project-card">
            <strong class="project-title center-text">
                Notaker
            </strong>
            <div class="project-description center-text">
                <a class="project-link" href="https://github.com/lienzhuzhu/notaker">Learn beautifully.</a>
            </div>
            <div class="project-preview-container">
                <img src="./img/notaker.png" alt="notaker screengrab" class="project-preview-img">
            </div>
        </div>

    </div>

    <div class="footer silver-text flex-container">
        <div class="footer-text-wrapper">
            &copy;<span id="year-span"></span> Lien Zhu. Inspired By Apple Inc. Candid photo by <a class="project-link" href="https://rashaanyapp.com">Rashaan Yapp</a>.
        </div>
    </div>

    <script src="script.js"></script>

</body>

</html>
